<!-- Top Bar -->
{%  include 'partials/_topbar.html'%}
<!-- Navbar -->
{%  include 'partials/_navbar.html'%}
  <!-- Main Content -->
    {% block content %} {% endblock %}

<!-- Footer -->
{%  include 'partials/_footer.html'%}

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>