#header {
  height: 50px; 
  background: #002E20; 
  color: white; 
}

#branding h1 {
  color: #fff;

}

a:link, 
a:visited {
  color: #002E20;
}

div.breadcrumbs {
  background: #929DAF; 
  color: #002E20; 
}

div.breadcrumbs a {
  color: #333; 
}

.module h2, .module caption, .inline-group h2 {
  background: #929DAF; 
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: #10284e; 
  color: #fff; 
}